* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.34),
    0.3px 0.5px 0.7px -1.2px hsl(var(--shadow-color) / 0.34),
    0.6px 1.2px 1.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    0.5px 1px 1.3px -0.8px hsl(var(--shadow-color) / 0.36),
    1.3px 2.6px 3.3px -1.7px hsl(var(--shadow-color) / 0.36),
    3.1px 6.2px 7.8px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.34),
    0.9px 1.8px 2.3px -0.4px hsl(var(--shadow-color) / 0.34),
    1.7px 3.4px 4.3px -0.7px hsl(var(--shadow-color) / 0.34),
    2.8px 5.6px 7px -1.1px hsl(var(--shadow-color) / 0.34),
    4.4px 8.9px 11.2px -1.4px hsl(var(--shadow-color) / 0.34),
    6.9px 13.9px 17.5px -1.8px hsl(var(--shadow-color) / 0.34),
    10.5px 21.1px 26.5px -2.1px hsl(var(--shadow-color) / 0.34),
    15.5px 31.1px 39.1px -2.5px hsl(var(--shadow-color) / 0.34);
}
